<div class="marco">


  <h1> {{titulo}}</h1>
  {{#if agent }}
    <h2>Agente</h2>
  {{/if}}
  <h2> Precio de Venta: {{precio}} </h2>
  <p> {{descripcion}} </p>
  <ul>
    {{#each datos}}
    <li>
			{{this.texto}}

		</li>
    {{/each}}
  </ul>
  <ul>
    {{#each imagenes_arr}}

        <img style='vertical-align:top;display:inline-block; margin: 10px;' width='300' src={{this.imagen}} />

    {{/each}}
  </ul>
</div>
<!-- <div class='marco'>
  <form method="post" action="boton">
    <label for="agente">Agente : </label>
    <input class='prop-input' type='text' name='agente' >
    <label for="agente">Cliente : </label>
    <input class='prop-input' type='text' id="cliente" name='cliente'><br><br>
    <button id='gendir' type="submit" >Generar Direccion</button> -->
    <!-- <input type="submit" value="Submit"></input>
  </form>
</div> -->
<!-- <form method="get" action="/">
    <button type="submit">Home</button>
</form> -->
